* {
      margin: 0;
      padding: 0;
  }
  body {
      font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: #666666;
      margin: 10px 13px;
  }
  ul {
      text-align: justify;
      text-justify: inter-character;
  }
  a {
      color: #AB9BAB;
      text-decoration: none;
  }
  a:hover {
      color: rgba(255,103,0,0.6);
      text-decoration: none;
  }
  a img {
      border: 1px solid transparent;
  }
  a img:hover {
      border: 1px solid #FF6700;
      filter: alpha (Opacity = 50);
      -moz-opacity: 0.5;
      opacity: 0.5;
  }
  p {
      width: 80%;
      max-width: 800px;
      margin-bottom: 9px;
      text-align: justify;
      text-justify: inter-character;
  }
  table {
      width: 80%;
      max-width: 800px;
  }
  tr, td {
      font-size: 15px;
      color: #666666;
      text-align: justify;
      text-justify: inter-character;
  }
  h1, h2, h3 {
      width: 80%;
      max-width: 800px;
      color: #4682b4;
      line-height: 36px;
  }
  h1 {
      margin-top: 60px;
      margin-bottom: 24px;
      font-size: 25px;
  }
  h2 {
      margin-top: 30px;
      font-size: 20px;
  }
  h3 {
      margin-top: 30px;
      font-size: 18px;
  }
  h4 {
      color: #2b5068;
      line-height: 36px;
      font-size: 14px;
  }
  hr {
      width: 80%;
      max-width: 800px;
      border: 0;
      border-bottom: 1px solid #C9C3C4;
  }
  code, pre {
      font-family: Monaco, Andale Mono, Courier New, monospace;
  }
  code {
      background-color: #FEE9CC;
      color: rgba(0, 0, 0, 0.75);
      padding: 1px 3px;
      font-size: 11px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }
  pre {
      width: 776px;
      padding: 12px;
      margin: 6px 0 30px 0;
      line-height: 15px;
      font-size: 11px;
      border: 1px solid #C9C3C4;
      white-space: pre-wrap;
      word-wrap: break-word;
      display: block;
  }
  pre code {
      background-color: #FFFFFF;
      color: #666666;
      font-size: 11px;
      padding: 0;
  }
  @media screen and (min-width: 800px) {
      body {
          width: 800px;
          margin: 10px auto;
      }
  }
  #advantages {
      padding-left: 40px;
  }
  